Project/Debug/Obj/
Project/Debug/List/PS-XD40.map
Project/Debug/Exe/PS-XD40.sim
Project/Debug/Exe/PS-XD40.out
Project/Debug/Exe/PS-XD40.hex
*.hex
*.xcl
*.pbi
*.o
Project/settings/PS-XD40_EditorBookmarks.xml
Project/settings/PS-XD40.dnx
Project/settings/PS-XD40.crun
Project/settings/PS-XD40.Release.cspy.ps1
Project/settings/PS-XD40.Release.cspy.bat
Project/settings/PS-XD40.Debug.cspy.ps1
Project/settings/PS-40XD_MDIN2CH.wsdt
Project/settings/PS-40XD_MDIN2CH.dnx
Project/settings/PS-40XD_MDIN2CH.dbgdt
Project/settings/PS-40XD_MDIN2CH.crun
Project/settings/PS-40XD_MDIN2CH.Debug.cspy.ps1
Project/settings/PS-40XD_MDIN2CH.Debug.cspy.bat
Project/Debug/List/PS-40XD_MDIN2CH.map
Project/Debug/Exe/PS-40XD_MDIN2CH.out
Binaries/PS-XD40.sim
